.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.header__logo {
  margin: 0 30px;
}

.header__link {
  text-decoration: none;
  color: #1C1C1C;
  padding: 10px 22px;
}

.header__link_end {
  margin-right: 8px;
  margin-left: 16px;
}
