.hero {
  height: 695px;
  background-image: url("../img/Fontqubit.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 115px;
}

.hero__content {
  width: 605px;
}

.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #000;
}

.hero__text {
  margin-bottom: 19px;
}

.hero__text_subtitle {
  width: 438px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 4px;
}

.hero__title {
  margin-bottom: 37px;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 61px;
  color: #000;
}

.title_purple {
  line-height: 54px;
  color: #6F2DFF;
}

.form {
  margin: 0;
}

.input {
  background-color: #fff;
  border: 1px solid #6F2CFF;
  border-radius: 27.5px 0px 0px 27.5px;
  padding: 13px 127px 11px 26px;
  font-size: 15px;
  line-height: 21px;
}

.button_left-sliced {
  padding: 13px 45px 11px 45px;
  border-radius: 0px 27.5px 27.5px 0px;
  border: 1px solid #6F2CFF;
  font-size: 15px;
  line-height: 21px;
  margin-left: -5px;
}
