.hero {
  height: 695px;
  background-image: url("../img/Fontqubit.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 115px;
}

.hero__content {
  width: 605px;
}

.hero__text {
  margin-bottom: 19px;
}

.hero__text_subtitle {
  margin-bottom: 4px;
  max-width: 438px;
}

.hero__title {
  margin-bottom: 37px;
}
