.link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1C1C1C;
  border-bottom: 2px solid #6F2DFF;
}

.link_size_s {
  font-size: 14px;
  line-height: 14px;
}

.link_black {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #000;
}

.link_white {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.link_size_m {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-bottom: none;
}
