.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #000;
}

.text_size_m {
  font-size: 18px;
  line-height: 30px;
}

.text_size_s {
  font-size: 15px;
  line-height: 30px;
}

.text_in-column {
  line-height: 22px;
}

.text_purple {
  margin: 0;
  font-weight: 700;
  color: #6F2CFF;
}
