.tool {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 94px;
}

.tool__title {
  margin-bottom: 28px;
}

.tool__text {
  margin: 0;
  margin-bottom: 90px;
}

.tool_img {
  width: 80%;
  height: auto;
  margin-bottom: 76px;
}

.tool__buttons {
  margin-bottom: 115px;
}

.tool__product {
  margin-right: 22px;
}
